.layout-container{
  margin: 3rem auto;
  max-width: 650px;
  padding: 0 1rem;
  
  .header{
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 2rem;
    padding-left: 0;
    h3{
      min-width: max-content;
    }  
    a {
        padding: 0.5rem;
        color: black;
        min-width: max-content;
      }
}
}
